.contacts {
    width: 100vw;
    min-height: 100vh;

    padding-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('../../images/contacts-background.jpg');
    background-size: cover;
    background-position: center;
}

.info-box, .form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 95vw;
    max-width: 800px;
    margin: 20px 0 10px 0;
    padding: 20px;

    color: #ffffff;
}


/* ---------- INFO --------- */
.info-box {
    background-color: #D9A0C5;
    text-align: center;
}

.info-box a {
    text-decoration: none;
    color: inherit;
}

/* ----- SECTION */
.section {
    margin-top: 20px;
    text-align: center;
}

/* ----- SOCIALS */
.socials {margin: 25px 0;}
.link {
    margin: 10px;
    font-size: 30px;
    color: inherit;
}
.link:hover {font-size: 32px;}


/* ----- MAP */
.map {
    width: 100%;
    max-width: 400px;
    height: 300px;

    color: #400112;
}


/* ---------- FORM ---------- */
.form-box {background-color: #400112;}

/* ----- INPUT */
.input-line {
    width: 100%;
    max-width: 400px;
    height: 2.5em;
    margin: 15px 0;
    padding: 5px;

    outline: none;
    border: none;
    border-bottom: 1px solid #D9A0C5;
    background-color: transparent;

    color: #ffffff;
    font-size: 18px;
}
.input-line:hover, .input-line:focus {border-bottom: 2px solid #D9A0C5;}

/* ----- TEXTAREA */
textarea {
    width: 100%;
    max-width: 400px;
    height: 300px;
    margin: 15px 0;
    padding: 10px;
    
    border: none;
    outline: none;

    font-size: 18px;
    font-family: 'Yaldevi', sans-serif;
}

/* ----- BUTTON */
.form-button {
    margin: 20px 0;
    width: 100%;
    max-width: 400px;
    height: 2.5em;

    border: none;
    background-color: #D9A0C5;
    color: #400112;
    font-size: 20px;
}
.form-button:hover {font-weight: bold;}


/* ---------- RESPONSIVENESS --------- */
@media only screen and (min-width: 961px) {
    .contacts {flex-direction: row;}
    .info-box, .form-box {
        width: 45vw;
        height: 80vh;
    }
}