.home {
    width: 100vw;
    min-height: 100vh;
    padding-top: 110px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('../../images/home-background.jpg');
    background-size: cover;
    background-position: right;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-banner {
    margin: 0 10px 50px 10px;
    font-size: 40px;
}

.welcome-text {
    display: none;
    margin-bottom: 50px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.link {
    text-decoration: none;
    color: #400112;
}
.link:hover {color: #D9A0C5;}


/* ---------- RESPONSIVENESS --------- */
@media only screen and (min-width: 801px) {
    .home{
        background-position: center;
    }

    .welcome-banner {
        font-size: 80px;
        margin-bottom: 100px;
    }

    .welcome-text {display: block;}
}