
h1 {
  font-family: 'Birthstone Bounce', cursive;
  font-size: 50px;
  text-align: center;
}

h3, h5 {text-transform: capitalize;}

p {font-size: 22px;}

label:hover, input:hover, button:hover {cursor: pointer;}